*.log
.dockerignore
.git
.gitignore
build/*
Dockerfile
docker-compose.yml
renv/library/
renv/local/
renv/cellar/
renv/lock/
renv/python/
renv/sandbox/
renv/staging/
renv.lock
.Rprofile
.idea
.Rproj.user
.Rhistory
README.md
Pagina-web-tesis.Rproj
LICENSE
__pycache__